.body {
  font-family: "Poppins", sans-serif;
}

.header {
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #b5b5b5;
  padding: 1rem 0;
  font-weight: 700;
  width: 30%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
}

.mentor-list {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.mentor-list > div:nth-child(even) {
  flex-direction: row-reverse;
}

.mentor {
  display: flex;
  gap: 5rem;
}

.mentor h3 {
  padding-bottom: 1rem;
}

.mentor .bio {
  margin-left: 3rem;
  line-height: 1.5rem;
}

.bio .social-media {
  list-style: none;
  display: flex;
  gap: 1.3rem;
  padding: 1.5rem 0;
}

@media screen and (max-width: 700px) {
  .mentor {
    flex-direction: column;
    align-items: center;
  }

  .mentor .bio {
    margin-left: 0;
  }

  .mentor-list > div:nth-child(even) {
    flex-direction: column;
  }
}
