@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #03045e;
  font-size: 17px !important;
}
.heading-1 {
  font-family: "Vampiro One", system-ui;
}

.containerr {
  width: 81%;
  margin: 0 auto;
}
.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.linear-gradient-l {
  background: linear-gradient(180deg, #55ffb8 0%, rgba(85, 255, 184, 0) 100%);
}
.linear-gradient-r {
  background: linear-gradient(180deg, #b5f6ff 0%, rgba(181, 246, 255, 0) 100%);
}
.contentss > .subcontent:nth-child(even) {
  flex-direction: row-reverse;
}

/* Start swiper one */
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  width: 100%;
  height: 371px;
  margin: 20px auto;
}

/* End swiper one */
.bg-custom-background {
  background-image: url("/assets/Rectangle\ 80.png");
  background-repeat: no-repeat;
}

.bg-img-blue {
  background-image: url("/assets/Rectangle\ 260\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 32px;
}
.bg-img-blue259 {
  background-image: url("/assets/Rectangle\ 259.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 32px;
}

.aaaa > swiper-slide {
  margin-right: 12px;
}
.bbbb {
  height: 298px;
}
