/* Start universal styles */

body {
  color: #03045e;
  font-size: 17px !important;
}
/* Start common styles */

.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.heading-1 {
  font-family: "Vampiro One", system-ui;
}

/* Start Custom swiper in Home page */
.custom-swip-1 > swiper-slide {
  margin-right: 12px;
}
.custom-swip-2 {
  height: 298px;
}
.custom-swip-3 {
  height: 468px;
}

/* Start dropdown menu */
.discover-link:hover .discover-dropdown {
  visibility: visible;
}
.episode-link:hover .episode-dropdown {
  visibility: visible;
}

/*  */

.linear-gradient-l {
  background: linear-gradient(180deg, #55ffb8 0%, rgba(85, 255, 184, 0) 100%);
}
.linear-gradient-r {
  background: linear-gradient(180deg, #b5f6ff 0%, rgba(181, 246, 255, 0) 100%);
}
.contentss > .subcontent:nth-child(even) {
  flex-direction: row-reverse;
}

/* Start bg image */

.bg-custom-background {
  background-image: url("/assets/Rectangle\ 80.png");
  background-repeat: no-repeat;
}

.bg-img-blue {
  background-image: url("/assets/Rectangle\ 260\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 32px;
}
.bg-img-blue259 {
  background-image: url("/assets/Rectangle\ 259.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 32px;
}
