/*  */
.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#regForm {
  background-color: #ffffff;
  margin: 0 auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

.field {
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
.field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}
.field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}

/* Hide all steps by default: */
.tab {
  display: none;
  margin-bottom: 4rem;
}

#prevBtn {
  background-color: none;
  color: #000;
  display: flex;
  gap: 5px;
  align-items: center;
}

#nextBtn {
  width: 192px;
  height: 56px;
  border: none;
  background: rgba(3, 4, 94, 1);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  background-color: #53ffb8;
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #53ffb8;
}
