body {
  font-family: "Inter", sans-serif;
}

.season-main {
  background: url("../../assets/season_main_bg.png");
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15vh 0;
  position: relative;
}

.season-main .search-container {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  padding: 10px;
}

.search-box {
  background-color: transparent;
  outline: none;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border: 0;
  width: 100%;
}

.search-button {
  font-size: 1rem;
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: var(--primry-color);
  border-radius: 5px;
  border: 0;
  color: #fff;
  width: 10rem;
  height: 43px;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.season-title {
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
  position: absolute;
  bottom: 0;
  left: 10vw;
}

.ep-list {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ep-list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ep-actions {
  display: flex;
  gap: 15px;
}

.btn-outlin {
  padding: 15px 35px;
  border: none;
  cursor: pointer;
}

.dark-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: var(--primry-color);
  color: #fff;
  font-weight: bold;
}

.white-btn {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  font-weight: bold;
}

button:active {
  transform: scale(0.98);
}

.video-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.video-list .video {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(10deg, #03045e91, #d9d9d900),
    url("../../assets/epsoide.png");
  position: relative;
}

.video .play-btn {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #53ffb8;
  border: 1px solid #03045e42;
}

.video .content {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .search-button {
    width: 3rem;
  }
  .search-button span {
    display: none;
  }

  .ep-actions {
    flex-direction: column;
  }

  .video-list {
    grid-template-columns: 1fr;
  }
}
